/* ------ welcome page ---- */
h3, .list, .instructions-box {
    margin-left: 20px;
}

.instructions-list {
    line-height: 2.4em;
}

.btn-logout {
    margin-left: 20px;
}


/* ------ login form ---- */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 150px auto auto;
}


/* ------ chuck norris ---- */
.chuck-btn, .result-box {
    margin-left: 20px;
}

.result-box {
    height: 380px;
    background-color: #F8F9FA !important;
}